.row{
    width: 90%;
    height: 400px;
    background-color: cadetblue;
    border: 1px solid black;
    /* position: absolute; */
    display: flex;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
    align-items: center;
    /* justify-content: center;  */
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between;  */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /*prpoerty /* x axis=>justify-content  */
      /* property y-axis=>align-items: ; */
}
.col{
    width: 30%;
    background-color: rgb(64, 90, 78);
    height: 200px;
    border: 1px solid black;
}
/* .row .col:nth-child(3){ */
    /* flex: 1; */
/* } */
.row .col:nth-child(1){ 
     flex: 1; 
}
.row .col:nth-child(2){
    flex: 1;
} 