*{
    margin: 0;
}
body{
    background-color: aquamarine;
}
.row{
    width: 80%;
    height: 700px;
    background-color: rgb(26, 122, 126);
    border: 1px solid rgb(34, 31, 31);
    display: grid; 
   grid-template-columns: 1fr 1fr;   
}
 .col{ 
    width: 60%;
    height: 500px;
    border: 1px solid black;
 }